- var getDisplayName = function (file) { return file.replace(/\//g, ' / ').replace(/[-_]/g, ' ').replace('.html', '').replace(/([A-Z])/g, ' $1'); };
- var subTitle = comments.length ? comments[0].ctx.file.input : '';
- var title = mdContents ? getDisplayName(filenameOut) : className || 'Documentation';

mixin navList(files)
    - files.sort();
    - var displayName = '';
    - var thisPrefix = '';
    - var lastPrefix = '';
    - var thisPage = '';
    each file in files
        if (file !== 'index.html')
            - displayName = getDisplayName(file);
            - parts = displayName.split('/');
            - thisPage = parts.pop();
            - thisPrefix = parts.join(' / ');
            if (thisPrefix !== lastPrefix)
                li= thisPrefix
            if (filenameOut === file)
                li(class="active"): a(href=file)= thisPage
            else
                li: a(href=file)= thisPage
            
            - lastPrefix = thisPrefix + '';
    

doctype html
html
  head
    title=title + (subTitle ? ' - ' + subtitle : '')
    base(href=basePath)
    link(
        rel="stylesheet"
        type="text/css"
        href=stylesheet
    )
    link(
        rel="stylesheet"
        type="text/css"
        href="https://highlightjs.org/static/styles/github.css"
    )
    style(type="text/css").
        .capitalize { text-transform: capitalize; }
    
  body.docs: .container-fluid: .row
    
    .col-sm-3.docs--sidebar
        br
        #menu.capitalize
            ul.nav.nav-stacked.nav-pills
                li(onclick="window.open('#{basePath}', '_self')" style="cursor:pointer")
                    strong Documentation
                li &nbsp;
                +navList(files)
            
        br
        br
    .col-sm-9.docs--main
        br
        if (mdContents)
            != mdContents
        else
        
          h3.help-block.docs--subtitle= subTitle
          hr
          h1.docs--title= title
          br
          each comment, indx in comments
            if (!comment.ignore && !comment.isPrivate)
              .well
              
                - var name = comment.ctx.name ? comment.ctx.name : comment.description.summary;
                - var id = name.replace(/[^a-z0-9]/gi,'-');
                - var args = comment.tags.filter(function (t) { return t.type === 'param' || t.type === 'arg'; });
                
                .comment(id=id)
                  if (indx === 0)
                    != comment.description.summary
                    
                  else
                    //- the title of the method or prop
                    - var typ = comment.type || comment.ctx.type;
                    h3
                      if (typ)
                          code= typ
                          | &nbsp;
                      a.bold(href="#{filenameOut}#" + id)
                          if (comment.ctx.name)
                              = comment.ctx.name
                          else 
                              != comment.description.summary
                    != comment.ctx.name ? comment.description.summary : ''
                  
                  //- Description
                  div!= comment.description.body
                  
                  
                  if (comment.returns)
                      p: strong returns&nbsp;
                          code= comment.returns || "undefined"


                  //- info about the method or prop
                  if (comment.augments)
                    p: strong extends&nbsp;
                        code= comment.augments

                  if (comment.fires && comment.fires.length)
                    p
                      strong fires
                      code= comment.fires.map(function(f){ return f.replace(className + '#','') }).join('|')

                  if (comment.auth)
                    p
                      strong Authorization
                      | &nbsp;&nbsp;
                      each meth in comment.auth
                        span.label.label-default= meth
                        | &nbsp;


                  //- Arguments
                  if (args.length)
                    br
                    h4 Arguments

                    .row.hidden-xs.param
                      .col-sm-4 Name
                      .col-sm-3 Type
                      .col-sm-5
                    hr
                    each param in args
                      .row.param
                        .col-sm-4: code= param.name
                        .col-sm-3: strong!= param.types.join(", ")
                        .col-sm-5= param.string || param.description
                      hr

                  //-
                  //- Uncomment for devving!!!
                  //-
                //-   a(href="javascript:void(0)" onclick="this.nextSibling.style.display = this.nextSibling.style.display == 'block' ? 'none' : 'block'") JSON
                //-   pre(style="display:none")
                //-     code=JSON.stringify(comment, null, 4)
              br

  br
  br
  br
  br
  br
  br
  br
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
  script(src="https://highlightjs.org/static/highlight.pack.js")
  script.
    hljs.initHighlightingOnLoad();
